* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
    font-family: "Goldman", cursive;
    background-color: black;
    background-image: url(background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 1200px;
    font-weight: bold;
    min-height: 100vh;
    max-width: 100vh;

}

nav {
  display: flex;
  width: 1519px;
  height: 100px;
  flex-shrink: 0;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed ;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

footer{
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  margin: auto;
  background: #00a8c7;
  position: fixed;
  bottom:0;

}
  
.container{
    text-align: center;
    color: white;
    font-family: "goldman";
    font-size: 40px;
    font-weight: 700;
    justify-content: center;
    position: relative;
    top: 30%;
    left: 60%;
  
   
}

img{
float:left;
margin: 0. 10px 10px 0;
}
